<form method="POST" action="/lists/{{list._id}}?_method=PUT">

<label for="name">List Name</label>
  <input 
    type="text" 
    placeholder="name" 
    name="name" 
    value="{{list.name}}" 
    />

  <input type="submit" value="Update List" />
    </form>