<form method="POST" action="/meals/{{mealId}}/foodItem">

<label for="name">New Food Items</label>
  <input type="text" placeholder="name" name="name"/>

<input type="submit" value="Add food">

</form>