<a href="/foodItems">Back to all food items</a>

<h2>{{foodItem.name}}</h2>

<form action="/meals/{{mealId}}/foodItems/{{foodItem._id}}?_method=DELETE" method="post">
    <button type="submit" >Delete Food Item</button>
</form>
