h2 {
    text-align: center;
}

.new-meal {
    display: block;
    margin: auto;
}

.meals {
    text-align: center;
}

.meal-name {
    text-align: center;
    margin: auto;
}
body {
    background-color: coral; 
    background-position: center;
    height: 400px; 
    background-size: cover;
}

.aqua {
    background-color: aquamarine;
}

