h2 {
    text-align: center;
}

.new-meal {
    display: block;
    margin: auto;
}

.meals {
    text-align: center;
}

.meal-name {
    text-align: center;
    margin: auto;
}
body {
    background: linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
    linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
    background-size: 200px 200px;
    background-color: rgb(155, 128, 42);
}

.aqua {
    text-align: center;
}

div.cat {
    text-align: center;
}

button.cat-edit {
position: relative; left: 80px;
}

.view-food {
    display: flex;
    flex-direction: row;
    margin: auto;
}
