h2 {
    text-align: center;
}

.new-meal {
    display: block;
    margin: auto;
}

.meals {
    text-align: center;
}

.meal-name {
    text-align: center;
    margin: auto;
}
.bg {
    background-image: url('/public/meal-planner.jpg'); 
    background-position: center;
    height: 400px; 
    background-size: cover;
}

/* .image {
    background-image: url('public/img/meal-planner.jpg');
} */