<form method="POST" action="/categories/{{category._id}}?_method=PUT">

<label for="name">Category Name</label>
  <input 
    type="text" 
    placeholder="name" 
    name="name" 
    value="{{category.name}}" 
    />

  <input type="submit" value="Update Category" />
    </form>