<button>
    <a href="/categories">Back to all categories</a>
</button>

<h2>{{category.name}}</h2>

<button>
    <a class="cat-edit" href="/categories/{{category._id}}/edit">Edit Category Name</a>
</button>

<form action="/categories/{{category._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Category">
</form>
