<a href="/categories">Back to all categories</a>

<h2>{{category.name}}</h2>

<form action="/categories/{{category._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Category">
</form>
