<div class="bg">
    <h2>All Meals</h2>

{{!-- <div class="image"></div> --}}

<button class="new-meal">
<a href="/meals/new">Add New Meals</a>
</button>


{{#each meal}}
<div class="meals">
<a href="/meals/{{_id}}">{{name}}</a>
</div>
{{/each}}
</div>
